<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="sidebar">
                <h1>Sidebar</h1>
                <a href="/">Home Page</a>
                <a href="/costumers-table">Costumers database</a>
                <a href="/db-handler">Database Control</a> 
            </div>
            <div class="content">
                <center>
                    <h1>Welcome</h1>
                </center>
                <p>This is the front page for this awesome application!</p>
                <p>Check the sidebar for the main features</p>
            </div>
        </div>
    </body>
</html>